<div id="logo">AnimalApp Zwierzęta <img src="/media/logo.png" style="with: 35px; height: 35px;"></div>
<div>
    <div class="button" style="float: left;"><a href="/">Główna</a></div>
    <div class="button" stlye="clear:both;"><a href="/animals/">Zwierzęta główna</a></div>
</div>
<div id="menu">
    <div class="menu_tile"><a href="/animals/{{view.kwargs.pk}}/animal">Zwierzę</a></div>
    <div class="menu_tile"><a href="/animals/{{view.kwargs.pk}}/dewormings">Odrobaczenia</a></div>
    <div class="menu_tile"><a href="/animals/{{view.kwargs.pk}}/treatments">Choroby i zabiegi</a></div>
    <div class="menu_tile"><a href="/animals/{{view.kwargs.pk}}/ticks">Środki na kleszcze</a></div>
    <div class="menu_tile"><a href="/animals/{{view.kwargs.pk}}/vaccines">Szczepienia</a></div>
    <div class="menu_tile"><a href="/animals/{{view.kwargs.pk}}/weight">Waga</a></div>
    <div class="menu_tile"><a href="/animals/{{view.kwargs.pk}}/information">Ogólne informacje</a></div>
</div>