<!DOCTYPE HTML>
{% load static %}
<html lang="pl">
    <head>
        {% include "../head.html" %}
    </head>

    <body>
        {% include "../menus_for_create_modify.html" %}

        <h3>Daty podawać w formacie:<p style="color: red;">RRRR-MM-DD GG:MM:SS</p></h3>

        <div id="content" style="clear:both;">
            <form action="/animals/{{pk}}/information/add/" method="post">
                {% csrf_token %}

<!--                <input type="hidden" name="animal" required id="id_animal" value={{pk}}>-->

<!--                <label for="id_content">Opis:</label>-->
<!--                <input type="text" name="content" maxlength="512" required id="id_content"></br></br></br>-->
                {% if form=="AnimalGeneralInformationForm" %}
                    Dupa
                {% endif %}

                <input type="submit" value="Dodaj">
            </form>
        </div>
    </body>
</html>