<div id="logo">AnimalApp Zasoby <img src="/media/logo.png" style="with: 35px; height: 35px;"></div>
<div>
    <div class="button" style="float: left;"><a href="/">Główna</a></div>
    <div class="button" stlye="clear:both;"><a href="/animals/">Zwierzęta główna</a></div>
</div>
<div id="menu">
    <div class="menu_tile"><a href="/resources/dewormings">Środki na odrobaczenie</a></div>
    <div class="menu_tile"><a href="/resources/treatments">Choroby i zabiegi</a></div>
    <div class="menu_tile"><a href="/resources/ticks">Środki na kleszcze</a></div>
    <div class="menu_tile"><a href="/resources/vaccines">Szczepionki</a></div>
    <div class="menu_tile"><a href="/resources/clinics">Kliniki weterynaryjne</a></div>
</div>